# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/mcmodsrepo/net/dice7000/proeritia/ProEritia/maven-metadata.xml
/mcmodsrepo/net/dice7000/proeritia/ProEritia/maven-metadata.xml.md5
/mcmodsrepo/net/dice7000/proeritia/ProEritia/maven-metadata.xml.sha1
/mcmodsrepo/net/dice7000/proeritia/ProEritia/maven-metadata.xml.sha256
/mcmodsrepo/net/dice7000/proeritia/ProEritia/maven-metadata.xml.sha512
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.jar
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.jar.md5
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.jar.sha1
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.jar.sha256
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.jar.sha512
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.pom
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.pom.md5
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.pom.sha1
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.pom.sha256
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.0/ProEritia-0.1.0.pom.sha512
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.jar
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.jar.md5
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.jar.sha1
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.jar.sha256
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.jar.sha512
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.pom
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.pom.md5
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.pom.sha1
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.pom.sha256
/mcmodsrepo/net/dice7000/proeritia/ProEritia/0.1.1/ProEritia-0.1.1.pom.sha512
